/Library/
/UnityPackageManager/
/Temp/
/Assets/SDUnity-chan_Adventure_Action_Pack/
/Assets/UnityChan/
/Assets/README_SD_UnityChan.txt
/Assets/README_SD_UnityChan.txt.meta
/Assets/SDUnity-chan_Adventure_Action_Pack.meta
/Assets/UnityChan.meta


.vs/2017_1116_SpaceDebris/v15/.suo
2017_1116_SpaceDebris.csproj
2017_1116_SpaceDebris.sln
