/Library/
/UnityPackageManager/
/Temp/
/Assets/GSSA/
/Assets/GSSA.meta
/Assets/SDUnity-chan_Adventure_Action_Pack/
/Assets/SDUnity-chan_Adventure_Action_Pack.meta
/Assets/UnityChan/
/Assets/UnityChan.meta
/Assets/README_SD_UnityChan.txt
/Assets/README_SD_UnityChan.txt.meta
/Assets/Materials/
/Assets/Materials.meta
/Assets/Fonts/
/Assets/Fonts.meta
/Assets/Logos/
/Assets/Logos.meta


.vs/2017_1116_SpaceDebris/v15/.suo
2017_1116_SpaceDebris.csproj
2017_1116_SpaceDebris.sln
